.addition ,.subtraction{
    background-color: #37a0ff;
    color: #ffffff;
    height: 46px;
    width: 127px;
    font-weight: 600;
    border: 2px solid #37a0ff;
    border-radius: 4px;
    font-size: 21px;
    outline: none;
    margin-right: 20px;
}